<html>
<head>
    <title>Categories</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- AJAX GOOGLE CDN Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/design.css" rel="stylesheet">
</head>
<body class="grey darken-4">
        <!--Navbar-->
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="margin-left: 20px;">Movies Library</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                    <li><a href="/">All Movies</a></li>
                    <li class="active"><a href="/categories">Categories</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
          <li><a href="/">All Movies</a></li>
          <li class="active"><a href="/categories">Categories</a></li>
        </ul>

  <!-- Modal Trigger -->
  <div class="row center">
  <a id="add-btn" class="btn-large btn-floating waves-effect waves-light btn modal-trigger orange darken-3" href="#addModal" style="margin-top: 5vh;"><i class="material-icons">add</i></a>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
     $(document).ready(function(){
        $('#mobile-nav').sidenav();
     });
  </script>
</body>
</html>