<html>
<head>
    <title>All Movies</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- AJAX GOOGLE CDN Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/design.css" rel="stylesheet">
    
</head>
<body class="grey lighten-2">
        <!--Navbar-->
        <nav>
          <div class="nav-wrapper teal">
            <a href="/" class="brand-logo" style="margin-left: 20px;">Movies Library</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="/">All Movies</a></li>
                    <li><a href="/categories">Categories</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
          <li class="active"><a href="/">All Movies</a></li>
          <li><a href="/categories">Categories</a></li>
        </ul>

  <!-- Modal Trigger -->
  <div class="row center">
  <a class="btn-large btn-floating waves-effect waves-light btn modal-trigger teal darken-2" href="#addModal" style="margin-top: 5vh;"><i class="material-icons">add</i></a>
  </div>
  <!-- Modal Structure -->
  <div id="addModal" class="modal">
    <div class="modal-content">
      <h4 class="center">Add a new movie</h4>
      <div class="row">
        <form class="col m10 s12" action="/add" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field m6 s10 offset-s1">
                <input placeholder="Title" id="title" type="text" class="validate" name="title" required>
                <label for="title">Title</label>
            </div>
          </div>

          <div class="row">
              <div class="input-field m6 s10 offset-s1">
                  <input placeholder="Year of production" id="year" type="text" name="year" class="validate" required>
                  <label for="year">Year</label>
              </div>
            </div>

            <div class="row">
                <div class="input-field m6 s10 offset-s1">
                    <input placeholder="Director" id="director" type="text"  name="director" class="validate" required>
                    <label for="director">Director</label>
                </div>
            </div>

              <div class="row">
                  <div class="input-field m6 s10 offset-s1">
                      <input placeholder="Country" id="country" type="text" name="country" class="validate" required>
                      <label for="country">Country</label>
                  </div>
              </div>

              <div class="row">
                  <div class="input-field m6 s10 offset-s1">
                    <textarea placeholder="Description" id="description" name="description" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                    </div>
              </div>

              <div class="row">
                  <label>Add movie cover</label>
                  <div class = "file-field input-field">
                    <div class = "btn">
                     <span>Browse</span>
                     <input name="cover" type = "file" />
                    </div>
                  
                    <div class = "file-path-wrapper">
                     <input class = "file-path validate" type = "text"
                        placeholder = "Upload file">
                    </div>
                </div>
              </div>

              <div class="row center" style="margin-top: 25px;">
                  <div class="input-field m8 s10 offset-s1">
                      <button class="btn btn-large waves-effect waves-light" type="submit">Add
                          <i class="material-icons right">add</i>
                      </button>
                  </div>
              </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 5vh;">
    <% i = 1; %>
    <% data.forEach(function(item) { %>
    <div class="col s12 m4" style="margin-top: 0.5vh;">
      <div class="card">
        <div class="card-image">
          <img class="movie-poster" src="/static/img/<%=item.imgHash%>">
          <span class="card-title"><p><%= i %>. <%=item.title%></p></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" id="card-edit"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">
          <p><%=item.description%></p>
        </div>
      </div>
    </div>
    <% i++; %>
    <% }); %>
  </div>

  <div id="addModal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
     $(document).ready(function(){
        $('.modal').modal();
        $('#mobile-nav').sidenav();
      });
  </script>
</body>
</html>