<html>
<head>
    <title>All Movies</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- AJAX GOOGLE CDN Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/design.css" rel="stylesheet">
    
</head>
<body class="grey lighten-2">
        <!--Navbar-->
        <nav>
          <div class="nav-wrapper teal">
            <a href="/" class="brand-logo" style="margin-left: 20px;">Movies Library</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="/">All Movies</a></li>
                    <li><a href="/categories">Categories</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
          <li class="active"><a href="/">All Movies</a></li>
          <li><a href="/categories">Categories</a></li>
        </ul>

  <div class="row" style="margin-top: 1vh;">
    <% data.forEach(function(item) { %>
    <div class="col s12 m4" style="margin-top: 0.5vh;">
      <div class="card">
        <div class="card-image">
          <img class="movie-poster" src="/static/img/<%=item.imgHash%>.jpg">
          <span class="card-title"><p><%=item.title%></p></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" id="card-edit"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">
          <p><%=item.description%></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
     $(document).ready(function(){
        $('#mobile-nav').sidenav();
      });
  </script>
</body>
</html>