body{
    font-family: 'Roboto', sans-serif;
}

.card-title{
    background-color: rgba(0, 0, 0, 0.7);
}

.card-title p{
    margin: 0;
    color: white;
    font-weight: bold;
}

.movie-poster{
    overflow: hidden;
    height: 600px;
    width: 400px;
}

.movie-card-titles{
    font-weight: bolder;;
    font-size: 16px;
    color: #004d40;
    padding-top: 10px; 
}

.movie-card-values{
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.modal::-webkit-scrollbar{
    display: none;
}

.nav-wrapper{
    background: #ef6c00;
    border: none;
    box-shadow: none;
}