body{
    font-family: 'Roboto', sans-serif;
}

.card-title{
    background-color: rgba(0, 0, 0, 0.7);
}

.card-title p{
    margin: 0;
    color: white;
    font-weight: bold;
}

.movie-poster{
    overflow: hidden;
    height: 600px;
    width: 400px;
}